/* root */

:root {
    --primary-text-color:#434455;
    --title-text-color:#2E2F42;
    --second-text-color:#FFFFFF;
    --accent-color:#4D5AE5;
    --head-background-color:#E5E5E5;
    --other-background-color: #F4F4FD;}


html {box-sizing: border-box;}   

*, 
*::before, 
*::after {box-sizing: inherit;}

h1, h2, h3, h4, h5, h6, p {margin: 0;}

ul {list-style-type: none;
    padding: 0;
    margin: 0;}

/* conteiner */

.conteiner {width: 1158px;
            margin: 0 auto;
            padding-left: 15px;
            padding-right: 15px;}
/* body */

body {color:var(--primary-text-color);
      background-color:var(--second-text-color);
      font-family: 'Roboto', sans-serif; 
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;

      margin: auto;
      position: relative;
      width: 1440px;

      box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
      justify-content: center;}

/* header */
 
.header-main {border-width: 0, 0, 5px, 0;
              background: #FFFFFF;
              box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
              0px 1px 1px rgba(46, 47, 66, 0.16),
              0px 1px 6px rgba(46, 47, 66, 0.08);
              filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));}

.web {align-items: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;    
      color:var(--accent-color);}

.logo {font-family: 'Raleway' ;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.3;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-decoration: none;
        color: var(--title-text-color);
        padding-top: 24px;
        padding-bottom: 24px;}

.main-nav {display: flex;}

.nav {display: flex;
      margin-right: 275px;}

.site {display: flex;
       margin-left: 77px;}

.site .item + .item {margin-left: 40px;}

.mail {display: flex;}

.mail .item + .item {margin-left: 40px;}

.mail .address {display: block;
                padding-top: 24px;
                padding-bottom: 24px;}
 
.nav .site .link {display: block;
                  padding-top: 24px;
                  padding-bottom: 24px;
                  font-weight: 500;
                  color:var(--title-text-color);    
                  align-items: center;
                  letter-spacing: 0.02em;                  
                  text-decoration: none;}

.work {text-decoration: none;}

.nav .site .link:hover, .nav .site .link:focus {color:var(--accent-color);}  

.mail .address, .ul .style {color:var(--primary-text-color);
                            text-decoration: none;} 

.mail .address:hover  {color:var(--accent-color);}  

.mail .address:focus  {color:var(--accent-color);}    

/* block hero */

.header-title {background:var(--title-text-color);
               text-align: center; 
               padding-top: 192px;
               padding-bottom: 192px;}

.main.header {margin-bottom: 48px;
              align-self: center; 
              margin-right: auto;
              margin-left: auto;
              font-weight: 500;
              font-size: 56px;
              line-height: 1.07;    
              letter-spacing: 0.02em;
              color:var(--second-text-color);
              width: 500px;}    


/* button */

.button {color:var(--second-text-color); 
        background:var(--accent-color);    
        padding-left: 16px 32px;    
        font-weight: 500;
        line-height: 1.1;
        align-items: center; 
        letter-spacing: 0.04em;

        order: 0;
        flex-grow: 0;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: 1px solid transparent;

        width: 170px;
        height: 51px;
        cursor: pointer;} 


.button.all {padding: 8px 16px;
             width: 69px;
             height: 48px;}

.button.web {padding: 8px 16px;
             width: 116px;
             height: 48px;}

.button.app {padding: 8px 16px;
             width: 78px;
             height: 48px;} 
        
.button.desing {padding: 8px 16px;
                width: 101px;
                height: 48px;} 
        
.button.marketing {padding: 8px 16px;
                   width: 126px;
                   height: 48px;}         

.button.primary {color: var(--second-text-color);background-color: var(--accent-color);}  

.button.secondary {color: var(--accent-color);background-color: var(--other-background-color);}

.button.primary:hover {background-color: var(--second-text-color); color: var(--accent-color);}  

.button.primary:focus {background-color: var(--second-text-color); color: var(--accent-color);}

.button.secondary:hover {color: var(--second-text-color); background-color: var(--accent-color); }

.button.secondary:focus {color: var(--second-text-color); background-color: var(--accent-color);  }   

.btn-list {display: flex;
           align-items: center;
           justify-content: center;}

.btn-list .btn + .btn {margin-left: 24px;}

/* description */

.description {padding-top: 120px;
              padding-bottom: 120px;}

.description-ul {display: flex;}  

.description-ul .description-title + .description-title {margin-left: 24px;} 

.description-title {width: 264px;}   

.description-header {font-weight: 500;
                     font-size: 20px;
                     line-height: 1.2;
                     letter-spacing: 0.02em;
                     color:var(--title-text-color);
                     margin-bottom: 8px;}

.description-app  {font-weight: 500;
                   font-size: 20px;
                   line-height: 1.2;
                   letter-spacing: 0.02em;
                   color:var(--title-text-color);
                   margin-bottom: 8px;}               

.style {letter-spacing: 0.02em;
        color: #434455;}                     

.description-text {color:var(--primary-text-color);
                   letter-spacing: 0.02em;}   
                 
/* images */

.image {display: block;
       max-width: 100%;
       height: auto;}

.images {padding-bottom: 120px;}       

.images-header {font-weight: 500;
                font-size: 36px;
                line-height: 1.1;    
                letter-spacing: 0.02em;
                text-transform: capitalize;
                color:var(--title-text-color);
                text-align: center;
                margin-top: 0;
                margin-bottom: 72px;}

.images-foto {display: flex;}

.portfolio-main {padding-top: 96px;
                 padding-bottom: 120px;}

.images-foto .images-first + .images-first {margin-left: 24px;}

.work-images  {margin-top: 0;
               display: flex;
               flex-wrap: wrap;
               margin-top: 72px;}  

.list {background:var(--second-text-color)
       border: 0.5px solid #F4F4FD;
       box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);}

.work-images .list.a + .list.a {margin-left: 24px;} 
.work-images .list.b + .list.b {margin-left: 24px;} 
.work-images .list.c + .list.c {margin-left: 24px;}

.list.a {margin-bottom: 48px;}
.list.b {margin-bottom: 48px;}


.services {padding-top: 32px;
           padding-bottom: 32px;
           padding-left: 16px;}
        
/* our team */

.team {background:var(--other-background-color);
       padding-bottom: 120px;
       padding-top: 120px;}

.team-name {display: flex;}
          
.team-name .team-foto + .team-foto {margin-left: 24px;} 

.team-header {font-weight: 500;
              font-size: 36px;
              line-height: 1.1;    
              letter-spacing: 0.02em;
              text-transform: capitalize;
              color: var(--title-text-color);
              text-align: center;
              margin-top: 0;
              margin-bottom: 72px;}

.team-foto {background: #FFFFFF;
            box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
            0px 1px 1px rgba(46, 47, 66, 0.16), 
            0px 2px 1px rgba(46, 47, 66, 0.08);
            border-radius: 0px 0px 4px 4px;
            width: 264px;}
        
.foto {display: block;
       max-width: 100%;
       height: auto;
       margin-top: 0;}    

.team-header-name {font-weight: 500;
                   font-size: 20px;  
                   letter-spacing: 0.02em;  
                   color:var(--title-text-color);
                   text-align: center;
                   margin-bottom: 8px;}  
    
.team-text-name {color:var(--primary-text-color);
                 letter-spacing: 0.02em;
                 text-align: center;}    

.full-position { padding-top: 32px;
                 padding-bottom: 32px;}                  

.description-app:hover, .description-app:focus {color: var(--accent-color);}

.style:hover, .style:focus {color: var(--accent-color);}                 

/* footer */

.footer {background: var(--title-text-color);
         padding-top: 100px;
         padding-bottom: 100px;}

.logo-footer {display: block;
              font-family: 'Raleway';
              font-weight: 800;
              font-size: 18px;
              line-height: 1.3;
              letter-spacing: 0.03em;
              text-decoration: none;
              color: var(--title-text-color);
              margin-bottom: 16px;}         

.footer-studio {color: var(--other-background-color);}

.footer-text {color: #E7E9FC;
              letter-spacing: 0.02em;
              width: 265px;}

/* hiden title */

.hide {display: none;
       transition: all ease 0.8s;}    